In [1]:
import pandas as pd
import numpy as np

C:\Users\Mayur\AppData\Local\Temp\ipykernel_11196\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Group difference

In [11]:
df = pd.DataFrame([[1,2,3,0], [4,5,6,0], [1,8,0,1], [1,2,2,0], [4,6,6,0], [1,2,4,0], [4,3,6,1]], columns=['a','b','c','t'])
df = df.sort_values(by=['a'])
df

   a  b  c  t
0  1  2  3  0
2  1  8  0  1
3  1  2  2  0
5  1  2  4  0
1  4  5  6  0
4  4  6  6  0
6  4  3  6  1

In [12]:
def fn(df):
    diff_cols = ['b','c']
    grouped = df.groupby(['a'])
    diff    = grouped[diff_cols].diff()
    df[diff_cols] = diff
    # df[['b','c']] = diff

In [13]:
fn(df)
df.dropna()

   a    b    c  t
2  1  6.0 -3.0  1
3  1 -6.0  2.0  0
5  1  0.0  2.0  0
4  4  1.0  0.0  0
6  4 -3.0  0.0  1

# remove element from np.array

In [52]:
arr = np.array( ('a','b','c','d') )

np.delete(arr, -1)

array(['a', 'b', 'c'], dtype='<U1')